@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Goudy Medieval";
  src: local("Goudy Medieval"),
    url("/fonts/GoudyMediaeval-Regular.ttf") format("truetype");
}

html,
body {
  @apply bg-white dark:bg-slate-800;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.drawer-overlay {
  background-color: rgba(0, 0, 0, 0) !important;
}
